<!doctype html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Hi, <%= @user.name %></h1>
<p>To log in to the site, just follow this link: <%= link_to "Login", @url%>.</p>
</body>
</html>
