<p>"Pitch about the product"</p>

<% if current_user %>
  <p>Hello <%= current_user.name %></p>
<% else %>
  <nav>
    <%= link_to 'Sign up', signup_path %>
    <%= link_to 'Sign in', signin_path %>
  </nav>
<% end %>