:root {
    --width: 800px;
    --background-color: #fff;
    --alert-color: lightcoral;
    --notice-color: lightgreen;
    --link-color: dodgerblue;
    --logo-color: #000;
}

body {
    max-width: var(--width);
    margin: auto;
    line-height: 1.5;
    background-color: var(--background-color);
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    margin-block: 24px;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--link-color);
}

a:hover {
    text-decoration: underline;
}

nav a {
    margin-right: 8px;
}

input[type=submit] {
    margin-top: 12px;
    cursor: pointer;
}

/* Form */
input {
    display: block;
    /*outline: none;*/
}

input[type=text], input[type=email], input[type=password] {
    padding: 4px 8px;
    margin-bottom: 4px;
}

/* Flash */

.alert, .notice {
    text-align: center;
    padding: 12px;
}

.alert {
    background-color: var(--alert-color);
}

.notice {
    background-color: var(--notice-color);
}

.marker {
    background-color: #1971c2;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    cursor: pointer;
}