body {
    line-height: 1.5;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

input[type=submit] {
    margin-top: 12px;
    cursor: pointer;
}

/* Form */
input {
    display: block;
    outline: none;
}

input[type=text], input[type=email], input[type=password] {
    padding: 4px 8px;
    margin-bottom: 4px;
}



