:root {
    --width: 800px;
    --background-color: #fff;
}

body {
    max-width: var(--width);
    margin: auto;
    line-height: 1.5;
    background-color: var(--background-color);
}

nav {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

nav a {
    margin-right: 8px;
}

input[type=submit] {
    margin-top: 12px;
    cursor: pointer;
}

/* Form */
input {
    display: block;
    outline: none;
}

input[type=text], input[type=email], input[type=password] {
    padding: 4px 8px;
    margin-bottom: 4px;
}



