<% if current_user %>
  <h1><%= "#{current_user.name}'s map" %></h1>
  <br>
  <div id="map" style="height: 500px; width: 600px"></div>

  <% content_for :custom_js do %>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css' rel='stylesheet'/>
    <%= javascript_import_module_tag "custom/main" %>
  <% end %>

<% else %>
  <br/>
  <nav>
    <%= link_to 'Sign up', signup_path %>
    <%= link_to 'Sign in', signin_path %>
  </nav>
  <h3>Get a personal app of locations you've visited. </h3>
  <br/>
  <i>
    <p>P.S. There is no email verification, this is a toy app!</p>
  </i>
<% end %>

