<% content_for :custom_js do %>
  <%#= javascript_import_module_tag "custom/manage" %>
<% end %>

<h3>Add location</h3>
<input id='search-input' type="text" autocomplete="off", autofocus="true"/>
<div id='suggestions'></div>