<h3>Add location</h3>
<%#= render 'form', location: @location %>

<h3>Edit locations</h3>
<% @locations.each do |l| %>
  <div>
    <%= l.city %>
    <%= link_to 'Edit', edit_location_path(l) %>
  </div>
<% end %>

<%= javascript_include_tag "custom/manage" %>