<% content_for :custom_js do %>
  <%= javascript_import_module_tag "custom/manage" %>
<% end %>

<%#= render 'form', location: @location %>

<h3>Add location</h3>
<input id='search-input' type="text"/>
<button id='search-button'>Search</button>

<div id='suggestions'></div>

<h3>Edit locations</h3>
<% @locations.each do |l| %>
  <div>
    <p>
      <%= l.city %>
      <%= link_to 'Edit', edit_location_path(l) %>
    </p>
  </div>
<% end %>

<%= javascript_import_module_tag "custom/manage" %>

