<h3>Add location</h3>
<input id='search-input' type="text" autocomplete="off" , autofocus="true"/>
<button id="search-button">Search</button>
<div id='suggestions'></div>

<h3>Manage locations</h3>
<% @locations.each do |l| %>
  <p>
    <span><%= l.city %></span>
    <span><%= link_to 'Delete', location_path(l), data: { turbo_method: :delete } %></span>
  </p>
<% end %>

<% content_for :custom_js do %>
  <%= javascript_import_module_tag "custom/manage" %>
<% end %>