<nav>
  <p>
    Navigator
  </p>
  <% if current_user %>
    <span>
      <%= link_to 'Edit Account', edit_user_path(current_user) %>
      <%= link_to 'Sign out', session_path, data: { turbo_method: :delete } %>
    </span>
  <% else %>
    <span>
      <%= link_to 'Sign in', signin_path %>
      <%= link_to 'Sign up', signup_path %>
    </span>
  <% end %>
</nav>