<header>
  <% if current_user %>
    <nav>
      <span data-turbo="false">
        <%= link_to 'Home', root_url %>
        <%= link_to 'Manage', manage_path %>
      </span>
      <span>
        <%= link_to 'Account', current_user %>
        <%= link_to 'Sign out', session_path, data: { turbo_method: :delete } %>
      </span>
    </nav>
  <% end %>
</header>
